# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

www/
node_modules/
postgres_dev/
logfile
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

mock/
.env
*.pem